.CustomLegend {
    &__info {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &__title {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 500;
    }

    &__quantity {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 5px;
    }
}
