.delivery {

  &__rows {
    width: 100%;
  }

  &__general {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__circle {
    margin-left: 30px;
    position: relative;
    width: 18rem;
    height: 18rem;
    flex-shrink: 0;
  }
}
