.graphics {
  border: 2px solid #E9F0FF;
  border-radius: 10px;
  margin-bottom: 20px;

  &__title {
    padding: 20px 15px 13px 30px;
    font-size: 15px;
    border-bottom: 2px solid #E9F0FF;
    text-transform: uppercase;
  }

  &__wrapper {
    width: 100%;
    overflow-x: scroll;
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    padding: 10px 30px 15px 30px;
    width: 100%;
    max-width: 100%;
  }

}
