.GoButton {
  max-width: 150px;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  background-color: #7CB1FF;
  border-radius: 9px;
  border: none;
  transition: .2s;
  margin-top: 20px;

  &:hover {
    background-color: lighten(#7CB1FF, 5);
  }
}
